.home {
	color: red;
	margin-top: 200px;
	margin-left: 100px;
	background-color: aqua;
}

.text {
	color: yellow;
	background-color: orange;
}

p {
	background-color: red;
	color: yellow;
	margin: 4%;
	padding: 4%;
	text-align: center;
}

.box {
	width: 100vw;
	height: 100vh;
	background-color: aqua;
}